<!DOCTYPE html>
<html>
<head>
    <title>Gráficos de Temperatura, Humedad y PM2.5</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            width: 49%;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <canvas id="temperatureChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="humidityChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="pm25Chart"></canvas>
    </div>

    <script>
        const temperatureCtx = document.getElementById('temperatureChart').getContext('2d');
        const temperatureData = {
            labels: [],
            datasets: [{
                label: 'Temperatura',
                data: [],
                borderColor: 'red',
                fill: false
            }]
        };
        const temperatureChart = new Chart(temperatureCtx, {
            type: 'line',
            data: temperatureData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const humidityCtx = document.getElementById('humidityChart').getContext('2d');
        const humidityData = {
            labels: [],
            datasets: [{
                label: 'Humedad',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const humidityChart = new Chart(humidityCtx, {
            type: 'line',
            data: humidityData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const pm25Ctx = document.getElementById('pm25Chart').getContext('2d');
        const pm25Data = {
            labels: [],
            datasets: [{
                label: 'Material Particulado PM2.5',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const pm25Chart = new Chart(pm25Ctx, {
            type: 'line',
            data: pm25Data,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let ultimoEpochTime = null;

        function actualizarGraficos() {
            fetch('/mediciones')
                .then(response => response.json())
                .then(data => {
                    const epochTime = data.epoch_time + 3*3600;
                    const temperature = data.temperature;
                    const humidity = data.humidity;
                    const PM25 = data.PM25;

                    if (ultimoEpochTime === null || epochTime > ultimoEpochTime) {
                        const date = new Date(epochTime * 1000);
                        const time = date.toLocaleTimeString();

                        temperatureData.labels.push(time);
                        temperatureData.datasets[0].data.push(temperature);

                        humidityData.labels.push(time);
                        humidityData.datasets[0].data.push(humidity);

                        if (temperatureData.labels.length > 20) {
                            temperatureData.labels.shift();
                            temperatureData.datasets[0].data.shift();

                            humidityData.labels.shift();
                            humidityData.datasets[0].data.shift();
                        }

                        temperatureChart.update();
                        humidityChart.update();

                        ultimoEpochTime = epochTime;
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        setInterval(actualizarGraficos, 100);
    </script>
</body>
</html>
