<!DOCTYPE html>
<html>
<head>
    <title>Gráficos de Temperatura, Humedad y PM2.5</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .chart-container {
            width: 30%;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="chart-container">
        <canvas id="x"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="y"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="z"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="gx"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="gy"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="gz"></canvas>
    </div>

    <script>
        const xCtx = document.getElementById('x').getContext('2d');
        const xData = {
            labels: [],
            datasets: [{
                label: 'Aceleración en X',
                data: [],
                borderColor: 'red',
                fill: false
            }]
        };
        const xChart = new Chart(xCtx, {
            type: 'line',
            data: xData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const yCtx = document.getElementById('y').getContext('2d');
        const yData = {
            labels: [],
            datasets: [{
                label: 'Accelaration in Y',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const yChart = new Chart(yCtx, {
            type: 'line',
            data: yData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const zCtx = document.getElementById('z').getContext('2d');
        const zData = {
            labels: [],
            datasets: [{
                label: 'Accelaration in Z',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const zChart = new Chart(zCtx, {
            type: 'line',
            data: zData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const gxCtx = document.getElementById('gx').getContext('2d');
        const gxData = {
            labels: [],
            datasets: [{
                label: 'Giroscopio en X',
                data: [],
                borderColor: 'red',
                fill: false
            }]
        };
        const gxChart = new Chart(gxCtx, {
            type: 'line',
            data: gxData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const gyCtx = document.getElementById('gy').getContext('2d');
        const gyData = {
            labels: [],
            datasets: [{
                label: 'Giroscopio en Y',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const gyChart = new Chart(gyCtx, {
            type: 'line',
            data: gyData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        const gzCtx = document.getElementById('gz').getContext('2d');
        const gzData = {
            labels: [],
            datasets: [{
                label: 'Giroscopio in Z',
                data: [],
                borderColor: 'blue',
                fill: false
            }]
        };
        const gzChart = new Chart(gzCtx, {
            type: 'line',
            data: gzData,
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'second',
                            displayFormats: {
                                second: 'HH:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        let ultimoEpochTime = null;

        function actualizarGraficos() {
            fetch('/mediciones')
                .then(response => response.json())
                .then(data => {
                    const epochTime = data.epoch_time;
                    const x = data.x;
                    const y = data.y;
                    const z = data.z;
                    
                    const gx = data.gx;
                    const gy = data.gy;
                    const gz = data.gz;

                    if (ultimoEpochTime === null || epochTime > ultimoEpochTime) {
                        const date = new Date(epochTime * 1000);
                        const time = date.toLocaleTimeString();

                        xData.labels.push(time);
                        xData.datasets[0].data.push(x);
                        yData.labels.push(time);
                        yData.datasets[0].data.push(y);
                        z.labels.push(time);
                        z.datasets[0].data.push(z);

                        gxData.labels.push(time);
                        gxData.datasets[0].data.push(gx);
                        gyData.labels.push(time);
                        gyData.datasets[0].data.push(gy);
                        gz.labels.push(time);
                        gz.datasets[0].data.push(gz);

                        if (xData.labels.length > 90) {
                            xData.labels.shift();
                            xData.datasets[0].data.shift();
                        }
                        if (yData.labels.length > 90) {
                            yData.labels.shift();
                            yData.datasets[0].data.shift();
                        }
                        if (zData.labels.length > 90) {
                            zData.labels.shift();
                            zData.datasets[0].data.shift();
                        }

                        if (gxData.labels.length > 90) {
                            gxData.labels.shift();
                            gxData.datasets[0].data.shift();
                        }
                        if (gyData.labels.length > 90) {
                            gyData.labels.shift();
                            gyData.datasets[0].data.shift();
                        }
                        if (gzData.labels.length > 90) {
                            gzData.labels.shift();
                            gzData.datasets[0].data.shift();
                        }

                        xChart.update();
                        yChart.update();
                        zChart.update();

                        gxChart.update();
                        gyChart.update();
                        gzChart.update();

                        ultimoEpochTime = epochTime;
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        setInterval(actualizarGraficos, 1000);
    </script>
</body>
</html>
